@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

/* Card Styling*/

.note_layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 20em;

 }

 .note_card {
   border: 1px solid;
   margin: 1em;
   background: white;
 }

.note_card a {
	color: #e2e2e2;
	text-decoration: none;
}

.note_card:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.note_content {
	padding: 1.4em;
}

.note_content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

img.note_image {
	display: block;
	width: 100%;
	height: auto;
}

/* Styles from Main*/

body, main, p {
	font-family: 'Open Sans', sans-serif;
	color: #353434;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
	color: #0A2463;
	font-weight: bold;
}

h2, h4 {
	font-weight: normal;
  color: #B0030B;
}

a {
	color: #247BA0;
}

/* Buttons */

button {
	border: none;
	color: white;
	padding: 0.5em;
	text-align: center;
	display: inline-block;
	font-size: 1em;
	margin: 0.2em;
	cursor: pointer;
}

.button_primary {
	background-color: #0A2463;
}

.button_primary:hover {
	background-color: #247BA0;
}

/* Media Queries */

@media (min-width: 40em) {
    .note_card {
       max-width: 44%;
    }

    .note_main {
      height: 17em;
    }
}

@media (min-width: 52em) {
    .note_layout {
        max-width: 52em;
        margin: 0 auto;
        padding: 0 1em;
    }
}
