fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  max-width: 800px;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid maroon;
  color:maroon;
  font-size:90%;
  font-weight: bold;
  text-align:right;
}

label {
  clear: left;
  width: 25%;
  padding: 12px 12px 12px 0;
  font-weight: bold;
  text-align: right;
}

.submit {
  clear: left;
  margin: 20px;
  margin-left: 40%;
  width: auto;
}

input, label, textarea {
    float:left;
    margin: 0.1em;
}

input:focus, textarea:focus {
      background: #03a9f421;
}

input, textarea{
  width: 60%;
  float: left;
  padding: 12px;
}

@media all and (max-width: 600px) {
    fieldset {
      max-width: 100%;
    }

    input, textarea{
      width: 80%;
      float: left;
      padding: 12px;
    }

    label {
      text-align: left;
      padding: 12px 12px 12px 0;
    }
  }
