form {
  padding: 1em;
  max-width: 50em;
  font: 100% sans-serif;
  background-color: #f2f2f2;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid maroon;
  color:maroon;
  font-size:90%;
  font-weight: bold;
  text-align:right;
  background-color: white;
}

label {
  clear: left;
  padding: 0.75em 0.75em 0.75em 0;
  font-weight: bold;
  text-align: left;
  width: 25%;
}

.submit {
  clear: left;
  margin: 1.25em;
  margin-left: 40%;
  width: auto;
}

input, label, textarea {
    float:left;
    margin: 0.1em;
}

input:focus, textarea:focus {
      background: #03a9f421;
}

input, textarea{
  width: 60%;
  float: left;
  padding: 0.75em;
  font: 100% sans-serif;
}

@media all and (max-width: 600px) {
    fieldset {
      max-width: 100%;
    }

    input, textarea{
      width: 80%;
      float: left;
      padding: 0.75em;
      font: 100% sans-serif;
    }

    label {
      text-align: left;
      padding: 0.75em 0.75em 0.75em 0;
      width: 100%;
    }
  }
