h1 {
  font-family: "Arial", sans-serif;
}

.form-element {
  margin: 6px 0;
}

label {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  font-family: "Arial", sans-serif;
}

input + label {
  width: auto;
}
