@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Override main width */
main {
  width: auto;
}

/* Card rules */

.cardcontainer {
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
}

.cardcontainer > img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
}

.cardtext {
  padding: 0 10px;
}

.cardactions {
  text-align: right;
  padding: 0.2em;
}

.cardactions > i {
  cursor: pointer;
  vertical-align: middle;
  color: #0A2463;
}

.cardactions > i:hover {
  color: #247BA0;
}
