@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

/* Base page elements */


body, main, p {
	font-family: 'Open Sans', sans-serif;
	color: #353434;
}

body {
	background-color: #e2e2e2;
}

main {
	background-color: white;
	padding: 2em 1em;
  overflow: hidden;
	width: 80%;
	margin: auto;
}

section {
	margin: 20px 1%;
	padding: 1em;
  border-style: solid;
  width: 55%;
  float: left;
}




/* Text */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif;
	color: #0A2463;
	font-weight: bold;
}

h2, h4 {
	font-weight: normal;
  color: #B0030B;
}


a {
	color: #247BA0;
}

a:hover {
	color: #9f24a0;
}

/* Hide Hamburger */
.mainmenu label, #hamburger, .secondarymenu label, #toggle-menu {
  display: none;
}

/* Main Menu */
nav.mainmenu {
	width: 100%;
	border: 1px solid #cccaca;
	background-color: #E2E2E2;
	overflow: hidden;
}

img.logo {
  width: 30%;
  margin-bottom: -1%;
}

.mainmenu input[type=text] {
  padding: 6px;
  border: none;
	flaot: right;
}

.mainmenu ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mainmenu li {
	display: inline-block;
	text-align: center;
	padding: 1em 0;
	box-sizing: border-box;
	float: left;
}

.mainmenu li a {
	color: #3c3c3c;
	padding: 1em;
}

.mainmenu li:hover {
	background-color: #cccaca;
}

/* Secondary Menu */
nav.secondarymenu {
	width: 30%;
	position:relative;
	border: 1px solid #cccaca;
	background-color: #0A2463;
	overflow: hidden;
	float: left;
}

nav.secondarymenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav.secondarymenu li, label#toggle-menu {
	display: list-item;
	text-align: center;
	padding: 1em 0;
	float: none;
	position:relative;
	border-top: 1px solid white;
}

nav.secondarymenu li a, label#toggle-menu {
	color: #cccccc;
	padding: 0.5em;
	display:block;
	transition:0.2s;
	text-decoration: none
}

nav.secondarymenu > a {
	color: #cccccc;
}

nav.secondarymenu li:hover, .secondarymenu li:hover li:hover li:hover {
	background-color: #B0030B;
}

nav.secondarymenu ul ul {
	background:rgba(0,0,0,0.1);
	transition: max-height 0.5s ease-in-out;
	max-height:0;
	overflow:hidden;
}

nav.secondarymenu li:hover > ul{
	max-height: 1000px;
	transition: max-height 0.9s ease-in;
}

.secondarymenu li:hover .dropdown, .secondarymenu li:hover .dropdown li:hover {
	background-color: #E2E2E2;
}

.secondarymenu li:hover .dropdown li a{
  color: black;
}

.secondarymenu li:hover .dropdown li:hover li:hover a{
  color: white;
}

nav.secondarymenu li li li {
	border: 0px;
}

/* Buttons */

button {
	border: none;
	color: white;
	padding: 1em;
	text-align: center;
	display: inline-block;
	font-size: 1em;
	margin: 0.2em;
	cursor: pointer;
}

.button_primary {
	background-color: #0A2463;
}

.button_primary:hover {
	background-color: #247BA0;
}


.button_secondary {
	background-color: #B0030B;
}

.button_secondary:hover {
	background-color: #247BA0;
}

/* Colours */

.colour {
	color: white;
	padding-top: 3em;
	font-size: 1.2em;
	padding-left: 1em;
}

.colour_container {
  width: 100%;
  display: block;
	list-style-type: none;
	padding: 0px;
	vertical-align: bottom;
}

.colour_primary {
	background: #0A2463;
}

.colour_secondary {
	background: #B0030B;
}

.colour_dark{
	background: #353434;
}

.colour_light {
	background: #E2E2E2;
  color: #353434;
}

.colour_highlight {
	background: #247BA0;
}


/* [ON SMALL SCREENS] */
@media screen and (max-width: 1400px){
  /* Show Hamburger */
  .mainmenu label {
    display: inline-block;
    color: #fff;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
		margin-left: 1%;
  }

	.secondarymenu label {
		display: block;
		color: #cccccc;
		padding: 1em 0;
		text-align: center;
	}

  /* Break down menu items into vertical */
  .mainmenu ul li {
    display: block;
  }

  /* Toggle show/hide menu on checkbox click */
  .mainmenu ul {
    display: none;
  }
  .mainmenu input:checked ~ ul {
    display: block;
  }

}
	@media screen and (max-width: 950px){
	  /* Show Hamburger */
	  .mainmenu label {
	    display: inline-block;
	    color: #fff;
	    background: #a02620;
	    font-style: normal;
	    font-size: 1.2em;
	    padding: 10px;
			margin-left: 47%;
	  }

	  /* Break down menu items into vertical */
	  .mainmenu ul li {
	    display: block;
			clear: left;
			width: 100%;
	  }

	  .mainmenu ul li {
	    border-top: 1px solid #333;
	  }

	  /* Toggle show/hide menu on checkbox click */
	  .mainmenu ul, .secondarymenu ul {
	    display: none;
	  }

		.mainmenu input:checked ~ ul,  .secondarymenu input:checked ~ ul ul, .secondarymenu input:checked ~ ul  {
 	    display: block;
	 	}

	 	.mainmenu input:checked ~ li, .secondarymenu input:checked ~ li, .secondarymenu input:checked ~ li li {
 			display: block;
 			clear: left;
	 }


		nav.secondarymenu {
			width: 100%;
			border: 1px solid #cccaca;
			background-color: #0A2463;
			overflow: hidden;
			float: left;
		}

		section {
			margin: 20px 1%;
			padding: 1em;
		  border-style: solid;
		  width: 85%;
		  float: left;
		}

		img.logo {
		  width: 100%;
		  margin-bottom: 0%;
		}

}
